################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/src/PuzzleGame/bin
/src/PuzzleGame/obj
